#dice-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.die img {
    width: 60px;
    height: 60px;
}

.upperScores,.lowerScores {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;

}
