body {
  display: grid;
  grid-template-rows: auto 1fr ;
  grid-template-columns: 1fr;
  height: auto;
  margin: 0;
  font-family: sans-serif;

  background: linear-gradient(to bottom, #2B2D42, #92DCE5);

}

.upperScores li, .lowerScores li {
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center;
  border: 1px solid #000;
  padding: 4px 8px;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #e0e0e0;
  cursor: pointer;
}
.upperScores, .lowerScores {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;       /* center the list */
  font-size: 14px;
  max-width: 700px;     /* limit the width so it fits on screen */
  width: 100%;          /* take full width up to max-width */
}


#dice-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

#dice-container img {
  width: 60px;
  height: auto;
}


#roll-button {
  padding: 10px 11px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

#throws-left {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  display: block;
  text-align: center;
  margin-top: 10px;
}


#roll-button:hover {
  background-color: #03fdfd7a;
}

h1 {
  text-align: center;
  font-size: 24px;
  
}

h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  
}

.upper-total {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.sum-box {
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 8px;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
}

.total-score-box {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 8px;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
  font-weight: bold;
  margin: 10px auto;
  font-size: 18;
}

.die.hold {
  border: 3px solid red;
  opacity: 0.7;
}
